
.Title { 
  width  : 1920px;
  height : 70px;
  display: flex;
}

.Title .Leftside {
  flex: 960px;
  display: flex;
  align-items: flex-end; 
  
}

.Title .Leftside a { /* 회사로고 */
  text-decoration: none;
  color: black;
  position: absolute;
  left: 120px;
  top: 10px;
  font-size: 35px;
  
  
  
}

.Title .Rightside {  /* 로그인 회원가입 버튼 위치수정 */

  flex : 50%;
  display: flex;
  align-items: flex-end;
  margin-left: 700px;

  
}

.Title .Rightside .Another a{
  
  
  text-decoration: none;
  

}





.Navbar {     /* 수강정보 */
  height : 55px;
  font-family: Arial,Helvetica, sans-serif;
  border-top: 1px solid  rgb(155, 154, 154);;
  border-bottom: 1px solid  rgb(155, 154, 154);;
  display: flex;
}

.Navbar .LeftSide {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.Navbar .LeftSide .Links {
  max-height: 80px;
  text-align:center;
  position: relative;
  left: 650px;
  
}

.Navbar .LeftSide .Links a{
  
  text-decoration: none;
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-inline-end: 120px;

}

* {
  margin: 0;
  padding: 0;
}